// VARIABLES
$type-base: "Source Sans Pro", Helvetica, Arial, sans-serif;
$type-heading: "Source Serif Pro", Georgia, serif;
// $type-base: Helvetica, Arial, sans-serif;
// $type-heading: Georgia, serif;
$type-linewidth: 38em;
$type-color-body: rgba(0, 0, 0, 0.8);
$type-color-headings: #000;
$type-color-links: #39c;
$type-color-linksdark: #069;

$color-accent: rgba(198,83,140,1);
$color-hero-bg: rgba(198,83,140,.2);

// Breakpoints
$breakpoint-small: 768px;
$breakpoint-medium: 1050px;
$breakpoint-large: 1250px;

@import "partials/toc";
@import "partials/typography";
@import "partials/buttons";
@import "partials/media";
@import "partials/layout";
@import "partials/structure";
@import "partials/site-navigation-menu-button";
@import "partials/cards";
@import "partials/thumbgrid";
@import "partials/animation";
