/* ANIMATION */
@keyframes fadeanddropIn {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.fadeanddropIn * {
  animation: fadeanddropIn 1s ease-out forwards;
  opacity: 0;
}

$delay-counter: 0;
$increment: 0.25;
@for $i from 1 through 10 {
  .fadeanddropIn *:nth-child(#{$i}) {
    $delay-counter: $delay-counter + $increment;
    animation-delay: #{$delay-counter}s;
  }
}
