/* LAYOUT */
/*
#MEDIA QUERIES (Mobile First)
	#DEFAULT+ (Mobile First - Default Settings in the CSS Above)
	#SMALL- (Mobile Only Overrides) - max-width: 767px
	#MEDIUM+ (Tablet) - min-width: 768px
	#LARGE+ (Desktop) - min-width: 1050px
	#EXTRALARGE+ (Desktop+) - min-width: 1250px  */

/* SMALL+ (Mobile First Defaults) */

* { box-sizing: border-box; }

body {
  font-size: 87.5%; /* 14px */
  margin: 0;
}

.container {
  margin: 0 auto;
  padding: 0 4%;
}

/* SMALL- MEDIA QUERY (e.g. for mobile overrides) */
@media (max-width: $breakpoint-small - 1) {
  /* Inherits Small/Mobile Body Type from Above */
  /* Inherits Small/Mobile Fluid Width from Above */
}

/* #MEDIUM+ MEDIA QUERY */
@media (min-width: $breakpoint-small) {
  /* Inherits Small/Mobile Body Type from Above */
  /* Inherits Small/Mobile Fluid Width from Above */  
  body {
    font-size: 100%; /* 16px; */
  }
}

/* #LARGE+ MEDIA QUERY */
@media (min-width: $breakpoint-medium) {
  /* LARGE BODY TYPE */


  /* FIXED WIDTH */
  .container {
    max-width: $breakpoint-medium;
  }
}

/* #EXTRA-LARGE+ MEDIA QUERY */
@media (min-width: $breakpoint-large) {
  /* EXTRA-LARGE BODY TYPE */
  body {
    font-size: 112.5%; /* 18px; */
  }

  /* FIXED WIDTH */
  .container {
    max-width: $breakpoint-large;
  }
}

