// FOR SITE HEADER SITE NAV ONLY
.site-header .site-nav {

  // HIDE MOBILE MENU BUTTON BY DEFAULT
  .menu-button {
    display: none;
    background-color: transparent;
    border: none;
  }

  // FOR MOBILE ONLY
  @media (max-width: ($breakpoint-small - 1)) {

    // SHOW MENU BUTTON ON SMALL SCREENS ONLY
    .menu-button {
      display: block;
      text-align: right;
      margin-top: .75em;
      border: 1px solid white;
      cursor: pointer;
    }

    // HIDE NAV ON SMALL SCREENS ONLY
    ul {
      display: none;
    }

    // SHOW NAV WHEN NAV IS "EXPANDED"
    &.expanded ul {
      display: block;
      text-align: right;
      margin: 0.5em 0.25em 1.5em 0;
      li {
        a {
          padding: 0.15em 0;
          margin: 0;
          color: rgba(255, 255, 255, 0.7);
        }
      }
    }
  }

  // MENU BUTTON NAVICON
  .menu-button.navicon {
    color: rgba(255, 255, 255, 0);
    // margin-top: 1.3em;
    border: none;
    position: relative;

    &:hover {
      cursor: default;
    }

    // THREE-BAR NAVICON ICON
    &:after {
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
      color: #fff;
      content: "\2630";
      text-align: center;
      font-size: 2em;
      margin: 0;
      width: 1em;
      height: 1em;
      line-height: .8;
      display: block;
      transform: rotate(0);
      padding: .1em;
      // border: 1px solid white;
    }

  }

  // SWITCH ICON TO "X" WHEN EXPANDED
  &.expanded .menu-button.navicon {
    color: rgba(255, 255, 255, 0);
    &:after {
      right: -.4em;
      line-height: 1;
      content: "\2715";
      transform: rotate(90deg);
      transition: transform 0.3s ease;
    }
  }

}
